<div class="login">
  <mat-card class="login-card">
    <form class="login-form" [formGroup]="loginForm">
      <div class="logo">
        <span class="icon-medico-w"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
      </div>
      <mat-form-field>
        <span matPrefix><mat-icon>mail</mat-icon>&nbsp;</span>
        <input matInput placeholder="E-mail" formControlName="email" [errorStateMatcher]="matcher">
        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
        <mat-error *ngIf="loginForm.get('email').hasError('email')">
          Por favor, informme um email válido.
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          O e-mail é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <span matPrefix><mat-icon>lock</mat-icon>&nbsp;</span>
        <input matInput placeholder="Senha"  formControlName="password" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          A senha é <strong>necessária.</strong>
        </mat-error>
        </mat-form-field>
      <button (click)="submitLogin()" class="btn-login" mat-button>Entrar</button>
    </form>
  </mat-card>
</div>
