
@import "./../../../../assets/fonts/variables/colors";

.login {
  width: 99%;
  height: 80%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.login-card {
  width: auto;
  border: 1px solid #ffffff29;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #274a4954;
}

.login-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  color: white;
  .btn-login {
    background: $color-default;
    color: white;
    margin: 15px 0;
    text-transform: uppercase;
  }
}

.logo {
  margin: 15px;
  text-align: center;
  .icon-medico-w {
    font-size: 50px;
    color: white;
  }
}
