@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon/fonts/icomoon.eot?rqtfak');
  src:  url('./assets/fonts/icomoon/fonts/icomoon.eot?rqtfak#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon/fonts/icomoon.ttf?rqtfak') format('truetype'),
    url('./assets/fonts/icomoon/fonts/icomoon.woff?rqtfak') format('woff'),
    url('./assets/fonts/icomoon/fonts/icomoon.svg?rqtfak#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-user:before {
  content: "\e900";
}
.icon-alert-time:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-cell:before {
  content: "\e903";
}
.icon-chat:before {
  content: "\e904";
}
.icon-checked:before {
  content: "\e905";
}
.icon-clock-icon:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-config:before {
  content: "\e908";
}
.icon-document:before {
  content: "\e909";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e90b";
}
.icon-error:before {
  content: "\e90c";
}
.icon-exit:before {
  content: "\e90d";
}
.icon-eye-dropper:before {
  content: "\e90e";
}
.icon-flag:before {
  content: "\e90f";
}
.icon-genre:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-lock:before {
  content: "\e912";
}
.icon-logo-oficial-v3:before {
  content: "\e913";
}
.icon-medical:before {
  content: "\e914";
}
.icon-message:before {
  content: "\e915";
}
.icon-messages:before {
  content: "\e916";
}
.icon-next:before {
  content: "\e917";
}
.icon-paper:before {
  content: "\e918";
}
.icon-phone:before {
  content: "\e919";
}
.icon-pills:before {
  content: "\e91a";
}
.icon-pin:before {
  content: "\e91b";
}
.icon-play:before {
  content: "\e91c";
}
.icon-plus-round:before {
  content: "\e91d";
}
.icon-prev:before {
  content: "\e91e";
}
.icon-search:before {
  content: "\e91f";
}
.icon-start:before {
  content: "\e920";
}
.icon-text-file:before {
  content: "\e921";
}
.icon-time:before {
  content: "\e922";
}
.icon-towner:before {
  content: "\e923";
}
.icon-user:before {
  content: "\e924";
}
.icon-add-document:before {
  content: "\e925";
}
.icon-medico-w .path1:before {
  content: "\e926";
  color: rgb(255, 255, 255);
}
.icon-medico-w .path2:before {
  content: "\e927";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icon-medico-w .path3:before {
  content: "\e928";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icon-medico-w .path4:before {
  content: "\e929";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icon-medico-w .path5:before {
  content: "\e92a";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icon-medico-w .path6:before {
  content: "\e92b";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icon-medico-w .path7:before {
  content: "\e92c";
  margin-left: -3.8681640625em;
  color: rgb(66, 191, 239);
}
.icon-medico-w .path8:before {
  content: "\e92d";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icon-medico-w .path9:before {
  content: "\e92e";
  margin-left: -3.8681640625em;
  color: rgb(255, 255, 255);
}
.icon-medico .path1:before {
  content: "\e92f";
  color: rgb(28, 235, 194);
}
.icon-medico .path2:before {
  content: "\e930";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icon-medico .path3:before {
  content: "\e931";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icon-medico .path4:before {
  content: "\e932";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icon-medico .path5:before {
  content: "\e933";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icon-medico .path6:before {
  content: "\e934";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icon-medico .path7:before {
  content: "\e935";
  margin-left: -3.869140625em;
  color: rgb(66, 191, 239);
}
.icon-medico .path8:before {
  content: "\e936";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
.icon-medico .path9:before {
  content: "\e937";
  margin-left: -3.869140625em;
  color: rgb(28, 235, 194);
}
