<!-- Cabeçalho -->
<mat-toolbar>
  <div class="logo">
    <h2>
        Visualizar Receitas
    </h2>
  </div>
</mat-toolbar>
<div mat-dialog-content>
<!-- Paciente -->
  <mat-card>
    <mat-card-header *ngIf="patientProfile.allProfile">
        <!-- Foto -->
        <div mat-card-avatar>
            <img class="avatar" [src]="patientProfile.allProfile.image.replace('https', 'http')" [alt]="patientProfile.allProfile.name">
        </div>
        <mat-card-title>Paciente: {{ patientProfile.allProfile.name }}</mat-card-title>
        <!-- Informações -->
        <mat-card-subtitle>
          <span class="info">
              <strong>Idade</strong>: {{ moment().diff(patientProfile.allProfile.date_of_birth, 'years') + ' anos' }}
          </span>
          <span class="info">
            <strong>Sexo</strong>: {{ (patientProfile.allProfile.genre == 'M') ? 'Masculino' : 'Feminino' }}
          </span>
        </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <!-- Formulário -->
  <mat-card class="section">
    <h4>Receitas
      <span *ngIf="(data.recipeInfo || patientProfile.allProfile); else elseBlock"> da receita:</span>
      <ng-template #elseBlock> disponíveis:</ng-template>
    </h4>
    <span class="spacer"></span>
    <span class="cpf-search" *ngIf="!(data.recipeInfo || patientProfile.allProfile)">
      <input matInput placeholder="CPF do Paciente" [(ngModel)]="patientProfile.CPF" mask="000.000.000-00">
      <button [disabled]="patientProfile.CPF.length < 11" (click)="searchCPF()" mat-button>Pesquisar</button>
    </span>
  </mat-card>
  <!-- Medicamentos -->
  <div *ngIf="(patientProfile.allProfile)">
 <!-- Medicamentos -->
    <mat-expansion-panel class="show-medicine" *ngFor="let item of medicineList; let index = index;">
      <mat-expansion-panel-header>
        <span *ngIf="item.medicine.title" class="medicine-confirmed primary">
            {{ item.medicine.title }}
        </span>
        <span class="spacer"></span>
        <span *ngIf="item.medicine" class="medicine-confirmed">
          <i class="icon-eye-dropper"></i>{{ item.medicine.dosage }} Unidades
          <i class="icon-calendar"></i>{{ item.medicine.number_of_days }} dias
          <i class="icon-time"></i>{{ item.medicine.frequency }}h em {{ item.medicine.frequency }}h
      </span>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <p class="info"><span class="header">Subtítulo: </span> {{ item.medicine.subtitle }}</p>
      </mat-panel-description>
      <mat-panel-description>
          <p class="info"><span class="header">Obs.: </span> {{ item.medicine.note }}</p>
        </mat-panel-description>
      <mat-panel-description>
        <span class="spacer"></span>
        <p class="info validity"><span class="header">Validade: </span> {{ item.medicine.validity_of_medicine }}</p>
      </mat-panel-description>
      <button *ngIf="item.medicine.sales_of_medicines_id == 0" (click)="makeSale(item)" mat-button>Realizar Venda</button>
    </mat-expansion-panel>
  </div>
  </div>
  <!-- PDF da Receita -->
  <div *ngIf="(data.recipeInfo)">
      <mat-progress-bar *ngIf="!showPDF" mode="indeterminate"></mat-progress-bar>
      <iframe *ngIf="urlPDF" [src]="urlPDF | safeUrl"></iframe>
  </div>
<!-- Botões -->
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Concluir</button>
  <button *ngIf="canCreateRecipe" (click)="generateRecipe()" mat-button cdkFocusInitial>
    Gerar receita
  </button>
</div>

