@import "./../../../../assets/fonts/variables/colors";

table {
  width: 100%;
  tr.mat-row:hover{
    background: #f9f9f9;
    cursor: pointer;
  }
}

mat-toolbar {
  background: $color-default;
  color: white;
  font-weight: lighter;
  .logo {
    display: flex;
    font-size: 1.5em;
    h2 {
      margin: 0 10px;
      font-weight: 200;
    }
  }
}

.status {
  display: inline-flex;
  i {
    height: 45px;
    width: 35px;
    text-align: center;
    line-height: 45px;
    color: #929292;
    &.started {
      color: #55D3AE;
    }
  }
}

.person {
  display: inline-flex;
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  h3 {
      color: #666;
      font-weight: 300;
      margin: 10px;
  }
}



.float-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
  background-color: $color-default;
  i {
    font-size: 25px;
  }
}

.mat-toolbar {
  .spacer {
    flex: 1 1 auto;
  }

  .mat-card-avatar {
    height: 45px;
    width: 45px;
  }

  .avatar {
    height: 45px;
    border-radius: 45px;
  }

  .logout {
    padding: 0 14px;
    cursor: pointer;
  }
}

.download-file {
  .mat-icon {
    color: $color-default;
  }
}

.mat-progress-bar {
  top: 30px;
}
