<!-- Cabeçalho -->
<mat-toolbar class="mat-elevation-z1">
  <div class="logo">
      <span class="icon-medico-w"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
      <h2>-  Farmácia</h2>
  </div>
  <span class="spacer"></span>
  <!-- Foto -->
  <div mat-card-avatar *ngIf="userProfile && userProfile.image">
    <img class="avatar" [src]="userProfile.image" [alt]="userProfile.name">
  </div>
  <!-- Nome -->
  <p *ngIf="userProfile">{{ userProfile.name }}</p>
  <mat-icon (click)="loggout()" class="logout">exit_to_app</mat-icon>
</mat-toolbar>

<!-- Botão de visualizar receita -->
<button (click)="newRecipe()"
  mat-raised-button
  matTooltipPosition="right"
  matTooltip="Buscar receita"
  aria-label="Botão que visualiza uma receita do paciente" class="float-button" mat-fab>
  <i class="icon-search"></i>
</button>
