/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/fonts/variables/colors";
@import "./assets/fonts/icomoon/icommon.scss";


html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

//
.screen-login {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(54, 113, 108, 0.8), rgba(62, 129, 121, 0.8), rgba(71, 146, 135, 0.8), rgba(81, 163, 147, 0.8), rgba(92, 180, 160, 0.8)), url('./assets/images/login-bg.jpg');
  position: absolute;

  .mat-form-field-label,
  .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
  }

  .mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
  }

  .mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;;
  }

  .mat-form-field-empty.mat-form-field-label {
    color: white !important;
  }

  .mat-form-field-prefix .mat-icon {
    position: relative;
    top: 4px;
    font-size: 1.3em;
  }
  .mat-error {
    color: white;
    z-index: 9999;
    font-size: 1.1em;
    font-weight: lighter;
    strong {
      font-weight: lighter;
    }
  }
}

.mat-snack-bar-container{
  color: white;
  &.success {
    background: $color-default;
  }
  &.error {
    background: red;
  }
}

